{% extends 'base.html.twig' %}

{% block body %}
    <h1>Schoolrecords list</h1>

    <table class="table table-striped table-sm" width="80%">
        <thead>
            <tr>
                <th>School Name</th>
                <th>Phone Number</th>
                <th>District</th>
                <th>Have Electricity</th>
                <th>Number Of Teacher</th>
                <th>Number Of Computer</th>
                <th>Number Of Working</th>
                <th>No Of Students</th>
                <th>Provided By</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for schoolRecord in schoolRecords %}
            <tr>
                <td><a href="{{ path('schoolrecord_show', { 'id': schoolRecord.id }) }}">{{ schoolRecord.schoolName }}</a></td>
                <td>{{ schoolRecord.phoneNumber }}</td>
                <td>{{ schoolRecord.district }}</td>
                <td>{% if schoolRecord.haveElectricity %}Yes{% else %}No{% endif %}</td>
                <td>{{ schoolRecord.numberOfTeacher }}</td>
                <td>{{ schoolRecord.numberOfComputer }}</td>
                <td>{{ schoolRecord.numberOfWorking }}</td>
                <td>{{ schoolRecord.noOfStudents }}</td>
                <td>{{ schoolRecord.providedBy }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('schoolrecord_show', { 'id': schoolRecord.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('schoolrecord_edit', { 'id': schoolRecord.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('schoolrecord_new') }}">Create a new schoolRecord</a>
        </li>
    </ul>
{% endblock %}
