{% extends 'base.html.twig' %}

{% block body %}

    {{ form_start(form) }}
    {#{{ form_widget(form) }}#}
        <div class="form-group">
            {{ form_label(form.schoolName) }}
            {{ form_errors(form.schoolName) }}
            {{ form_widget(form.schoolName, { 'attr': {'class': 'form-control'} }) }}
        </div>
        <div class="form-group">
            {{ form_label(form.address) }}
            {{ form_errors(form.address) }}
            {{ form_widget(form.address, { 'attr': {'class': 'form-control'} }) }}
        </div>
        <div class="form-group">
            {{ form_label(form.phoneNumber) }}
            {{ form_errors(form.phoneNumber) }}
            {{ form_widget(form.phoneNumber, { 'attr': {'class': 'form-control'} }) }}
        </div>
        <div class="form-row">
            <div class="form-group col-md-4">
                {{ form_label(form.district) }}
                {{ form_errors(form.district) }}
                {{ form_widget(form.district, { 'attr': {'class': 'form-control'} }) }}
            </div>
            <div class="form-group col-md-4">
                {{ form_label(form.gramaNiladhari) }}
                {{ form_errors(form.gramaNiladhari) }}
                {{ form_widget(form.gramaNiladhari, { 'attr': {'class': 'form-control'} }) }}
            </div>
            <div class="form-group col-md-4">
                {{ form_label(form.divisionalSecretariat) }}
                {{ form_errors(form.divisionalSecretariat) }}
                {{ form_widget(form.divisionalSecretariat, { 'attr': {'class': 'form-control'} }) }}
            </div>
        </div>
        <div class="form-row">
            <div class="form-group col-md-4">
                {{ form_errors(form.haveElectricity) }}
                {{ form_widget(form.haveElectricity) }}
                {{ form_label(form.haveElectricity) }}
            </div>
        </div>
        <div class="form-row">
            <div class="form-group col-md-3">
                {{ form_label(form.noOfStudents) }}
                {{ form_errors(form.noOfStudents) }}
                {{ form_widget(form.noOfStudents,{ 'attr': {'class': 'form-control'} }) }}
            </div>
            <div class="form-group col-md-3">
                {{ form_label(form.numberOfTeacher) }}
                {{ form_errors(form.numberOfTeacher) }}
                {{ form_widget(form.numberOfTeacher,{ 'attr': {'class': 'form-control'} }) }}
            </div>
            <div class="form-group col-md-3">
                {{ form_label(form.numberOfComputer) }}
                {{ form_errors(form.numberOfComputer) }}
                {{ form_widget(form.numberOfComputer,{ 'attr': {'class': 'form-control'} }) }}
            </div>
            <div class="form-group col-md-3">
                {{ form_label(form.numberOfWorking) }}
                {{ form_errors(form.numberOfWorking) }}
                {{ form_widget(form.numberOfWorking, { 'attr': {'class': 'form-control'} }) }}
            </div>
        </div>
        <div class="form-row">
            <div class="form-group col-md-6">
                {{ form_label(form.lackComputerParts) }}
                {{ form_errors(form.lackComputerParts) }}
                {{ form_widget(form.lackComputerParts,{ 'attr': {'class': 'form-control'} }) }}
            </div>
            <div class="form-group col-md-6">
                {{ form_label(form.proposals) }}
                {{ form_errors(form.proposals) }}
                {{ form_widget(form.proposals,{ 'attr': {'class': 'form-control'} }) }}
            </div>
        </div>
        <div class="form-group">
            {{ form_label(form.providedBy) }}
            {{ form_errors(form.providedBy) }}
            {{ form_widget(form.providedBy, { 'attr': {'class': 'form-control'} }) }}
        </div>
        <button type="submit" class="btn btn-primary">Save</button>

    {{ form_end(form) }}


    <ul>
        <li>
            <a href="{{ path('schoolrecord_index') }}">Back to the list</a>
        </li>
    </ul>
{% endblock %}
